.item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 120px;
    margin-top: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border-radius: 10px;
    padding: 10px;
    &:hover {
        background-color: #eee;
    }
    .left {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        img {
            width: 80%;
            height: 80%;
        }
    }

    .right {
        width: 70%;
        height: 100%;
        .name {
            font-size: 20px;
            color: #333;
        }
        .address {
            font-size: 16px;
            color: #666;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .btn-view {
            height: 30px;
            width: 50px;
            float: right;

        }
    }
}