.order-detail {
    width: 360px;
    height: 700px;
    .detail {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .top {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            width: 100%;
            height: 45%;
            .order-name {
                width: 100%;
                font-size: 16px;
                height: 40px;
                color: #333;
                line-height: 40px;
                text-align: center;
                font-weight: bold;
                margin-top: 20px;
            }
            .label {
                padding: 10px;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;

                .left {
                    width: 30%;
                    font-weight: bold;
                    font-size: 16px;
                }
                .right {
                    width: 70%;
                    font-size: 16px;
                }
            }
            .address {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;

                .title {
                    font-weight: bold;
                    font-size: 16px;
                    padding: 10px;
                }
                .name {
                    font-size: 16px;
                    padding: 0px 10px 10px 10px;
                }
            }
            .instruction {
                .guied {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 10px;
                    margin-left: 20px;
                    .draw {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        .before{
                            color: #333;
                        }
                        .after {
                            width: 2px;
                            height: 30px;
                            border-right: 2px dotted #333;
                        }
                    }
                    .label {
                        margin-top: -10px;
                        height: 40px;
                        width: 314px;
                        font-size: 14px;
                        color: #666;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        flex-direction: column;
                    }
                }
            }
        }
        .map {
            width: 100%;
            height: 45%;

            .marker {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 2px solid #007041;
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    color: #000;
                    font-weight: bold;
                }
            }
        }

        .bottom {
            width: 100%;
            height: 8%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
}
