.mapContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .mapContent {
        height: 100%;
        width: 100%;
    }

    .mapInput {
        width: 50%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
        padding: 4px;
        margin-right: 20px;
        margin-top: 30px;
        border-radius: 4px;
        z-index: 1;

        .input {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
        }

        .show {
            width: 100%;
            display: flex;
            padding: 10px;
            align-items: flex-start;
            justify-content:flex-start;
            flex-direction: column;
        }
    }
}